*{
    margin: 0;
    box-sizing: border-box;
}
.video-container{
    position: relative;
    border: 2px solid black;
    width: 90%;
    max-width: 1000px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
}
.video-container video{
    width: 100%;
}
.video-controls-container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid red;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px;
}